@{
    ViewData["Title"] = "User";
}

<section class="status-card col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center">
    <p class="status-code">404</p>
    <h1 class="section-title section-title--compact">User not found</h1>
    <p>The requested account could not be found.</p>
    <a href="/" class="btn btn-primary">Back</a>
</section>
